<ng-container [formGroup]="passportForm">
  <h3>Passport information</h3>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <span class="errorText star">*</span>
    <em class="errorText" *ngIf="notValidFirstName()">Required First Name</em>
    <input
      formControlName="firstName"
      type="text"
      name="firstName"
      class="form-control"
      id="firstName"
      placeholder="Your first name..."
    />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <span class="errorText star" >*</span>
    <em class="errorText" *ngIf="notValidLastName()">Required Last Name</em>
    <input
      formControlName="lastName"
      type="text"
      name="lastName"
      class="form-control"
      id="name"
      placeholder="Your last name..."
    />
  </div>
  <div class="mb-3">
    <label for="dateOfBirth" class="form-label">Date of Birth</label>
    <span class="errorText star">*</span>
    <em class="errorText" *ngIf="notValidDate()">Required Date of Birth</em>
    <input
      formControlName="dateOfBirth"
      type="date"
      name="dateOfBirth"
      class="form-control"
      id="dateOfBirth"
      placeholder="Date of your Birth"
    />
  </div>
</ng-container>
