.header {
  &__title {
    text-align: center;
    font-size: 25px;
  }
}
.t {
  width: 95%;
  margin:2rem auto;
  border: 1px solid #000;
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr.birthday{
    background-color: #71b2cc;
    color: #f2f7e1;
  }
  th {
    background-color: #f3e1bd;
    text-align: center;
  }
  td {
    text-align: center;
  }


  &__remove,
  &__add {
    cursor: pointer;
    &:hover {
      background-color: #a8fd81 !important;
    }
  }
}
