/* You can add global styles to this file, and also import other style files */
.errorText{
  color:red;
  display:block;
  font-size:12px;
  margin: 5px 0;
  &.star{
    display: inline-block;
    margin-left: 5px;
  }
}
