<header>
  <h2 class="text-center">Adding contact</h2>
</header>

<form
  #registerNew="ngForm"
  (ngSubmit)="pushData(registerNew.value)"
  class="registerForm"
>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      [(ngModel)]="name"
      type="text"
      name="name"
      class="form-control"
      id="name"
      placeholder="Your name..."
    />
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input
      type="number"
      [(ngModel)]="age"
      name="age"
      class="form-control"
      id="age"
      placeholder="Your age..."
    />
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
