<header>
  <h2 class="text-center">Adding contact</h2>
</header>

<form
  [formGroup]="registerForm"
  (ngSubmit)="pushData(registerForm.value)"
  class="registerForm"
>
<h3>Phone Number information</h3>
<div class="mb-3">
  <label for="telephone" class="form-label">Number</label>
  <input
    formControlName="telephone"
    type="tel"
    name="telephone"
    class="form-control"
    id="telephone"
    placeholder="Your phone..."
  />
</div>
  <passport-group formGroupName="passportData"></passport-group>
  <register-address formGroupName="address"></register-address>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

